html {
    overflow-x: hidden;
}
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: none;
    margin-bottom: 0;
}
  
input[type="number"] {
    -moz-appearance: textfield;
}
  
button {
    outline: none !important;
}
  
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
a,
a:hover {
    text-decoration: none;
    color: #000;
}


.calculator {
    background-color: #000;
    padding-bottom: 30px;
    min-height: 100vh;
}

.btn,
.btn-plus-minus,
.btn-percentage,
.btn-result,
.btn-ac {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    /* padding: 30px; */
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.btn-zero {
    width: 150px;
    border-radius: 50px;
    text-align: left;
    vertical-align: center;
    padding-left: 25px;
}

.item {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.item-orange {
    background-color: #F69906;
    color: #fafafa;
}
.item-silver {
    background-color: #A1A1A1;
    color: #212221;
}

.item-grey {
    background-color: #333;
    color: #F2F2F2;
}

.visual {
    display: flex;
    height: 120px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    font-size: 50px;
    color: #fafafa;
}