@font-face {
    font-family: 'San Francisco Text Regular';
    src: url('fonts/SFUIText-Regular.eot');
    src: url('fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFUIText-Regular.woff') format('woff'),
    url('fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Text Medium';
    src: url('fonts/SFUIText-Medium.eot');
    src: url('fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFUIText-Medium.woff') format('woff'),
    url('fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Display Thin';
    src: url('fonts/SFUIDisplay-Thin.eot');
    src: url('fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFUIDisplay-Thin.woff') format('woff'),
    url('fonts/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'San Francisco Text Regular';
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0 ; 
    background-color: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: none;
    -webkit-font-smoothing: antialiased;
}
  
input[type="number"] {
    -moz-appearance: textfield;
}
  
button {
    outline: none !important;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}

button:focus {
    outline: none !important;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}
button:active {
    outline: none !important;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}
button:hover {
    outline: none !important;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}
  
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
a,
a:hover {
    text-decoration: none;
    color: #000;
}


.calculator {
    background-color: #000;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.iphone {
    display: none;
}

.btn,
.btn-plus-minus,
.btn-percentage,
.btn-result,
.btn-ac {
    font-family: 'San Francisco Text Regular';
    -webkit-font-smoothing: antialiased;
    border: none;
    text-decoration: none;
    font-size: 8vw;
    height: calc((100vw - 70px) / 4);
    width: calc((100vw - 70px) / 4);;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease; 

    outline: none !important;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}
.btn:active {
    background-color: #717171;
    -webkit-transition: all 0.1s 0s ease;
    -o-transition: all 0.1s 0s ease;
    transition: all 0.1s 0s ease; 

    outline: none !important;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}


.btn-plus-minus:active,
.btn-percentage:active,
.btn-ac:active {
    background-color: #fafafa;
    -webkit-transition: all 0.1s 0s ease;
    -o-transition: all 0.1s 0s ease;
    transition: all 0.1s 0s ease; 
}

.btn-zero {
    width: calc((100vw - 50%) - 25px);
    border-radius: 50px;
    padding-left: 25px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;


            outline: none !important;
    outline-width: 0 !important;
    outline-color: none !important;
    outline-offset: 0;
    outline-style: none!important;
    box-shadow: none;
}

.item-orange {
    background-color: #F69906;
    color: #fafafa;
}

.item-orange-presed{
    background-color: #fafafa;
    color: #F69906;
}

.item-silver {
    background-color: #A1A1A1;
    color: #141414;
}

.item-grey {
    font-size: 9vw;
    background-color: #333;
    color: #F2F2F2;
}

.visual {
    font-family: 'San Francisco Display Thin';
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: calc(100vw - 93%);
    font-size: 18vw;
    color: #fafafa;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;  
}
.wrap {
    padding-bottom: 20px;
}


@media (min-width: 576px) {
    body {
        background-color: #3b3a3a;
        overflow-y: auto;
    }
    .calculator {
        display: block;
        margin: 30px auto;
        width: 400px;
        border: 1px solid #F69906;
        border-radius: 30px;
        position: relative;
    }
    .btn,
    .btn-plus-minus,
    .btn-percentage,
    .btn-result,
    .btn-ac {
    font-family: 'San Francisco Text Regular';
    -webkit-font-smoothing: antialiased;
    border: none;
    text-decoration: none;
    font-size: 8vw;
    height: 82.5px;
    width: 82.5px;
    font-size: 36px;
    z-index: 999;
    }
    .btn-ac {
        font-size: 30px;
    }
    .btn-plus-minus {
        font-size: 30px;
    }
    .btn-percentage {
        font-size: 30px;
    }
    .btn-zero {
        width: 175px;
        border-radius: 100px;
        padding-left: 30px;
    }
    .visual {
        padding: 28px;
        height: 325px;
        font-size: 54px;
    }
    .iphone {
        display: block;
        position: absolute;
        width: 150%;
        left: -102px;
        top: -10px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
}



