
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    background-color: #fafafa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: none;
    /* max-height: 100vh; */
}
  
input[type="number"] {
    -moz-appearance: textfield;
}
  
button {
    outline: none !important;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
  
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
a,
a:hover {
    text-decoration: none;
    color: #000;
}


.calculator {
    position: relative;
    background-color: #000;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
}

.btn,
.btn-plus-minus,
.btn-percentage,
.btn-result,
.btn-ac {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: calc((100vw - 80px) / 4);
    width: calc(100vw - 80px);
    border-radius: 50%;
    margin: 0 7.5px;
    /* padding: 0; */
    /* outline: none; */
}
.btn-zero {
    width: calc((100vw - 48px) * 2);
    border-radius: 50px;
    text-align: left;
    vertical-align: center;
    padding-left: 25px;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.item-orange {
    background-color: #F69906;
    color: #fafafa;
}
.item-silver {
    background-color: #A1A1A1;
    color: #212221;
}

.item-grey {
    background-color: #333;
    color: #F2F2F2;
}

.visual {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 15px;
    font-size: 50px;
    color: #fafafa;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            
}

.wrap {
    position: relative;
}
